<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      <img src="https://cdn.pixabay.com/photo/2018/06/24/17/34/medical-3495036_960_720.png"alt="">
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class = "ion-padding">

    <!--Se o tamanho da "lista" de tarefas não for maior que 0, ou seja, se ela estiver vazia-->
      <ion-text color="medium" class="ion-text-center">
        <p>Adicione seu remédio e a dose</p>
        <!--Mostra esse texto-->
      </ion-text>
    
</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom" color = "dark">

    <ion-tab-button tab="home">
      <ion-icon name="home-sharp"></ion-icon>
      <ion-label>Página Inicial</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="calendar">
      <ion-icon name="calendar-sharp"></ion-icon>
      <ion-label>Calendário</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="add">
      <ion-icon name="add-circle-sharp"></ion-icon>
      <ion-label>Adicionar Remédio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="help">
      <ion-icon name="help-circle-sharp"></ion-icon>
      <ion-label>Ajuda</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>