<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      <img src="https://cdn.pixabay.com/photo/2018/06/24/17/34/medical-3495036_960_720.png" alt="">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer"
        href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom" color = "primary">
    
    <ion-tab-button tab="calendar">
      <ion-icon name="calendar-sharp"></ion-icon>
      <ion-label>Calendário</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="add">
      <ion-icon name="add-circle-sharp"></ion-icon>
      <ion-label>Adicionar Remédio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="help">
      <ion-icon name="help-circle-sharp"></ion-icon>
      <ion-label>Ajuda</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>